body {
  margin: 0;
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  display: flex;
  flex-direction: row;
  width: 600px;
  height: 600px;
  background-color: aliceblue;
  flex-wrap: wrap;
}

#root > * {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: black;
}
