body {
  margin: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nodeContainer {
  display: flex;
  height: fit-content;
  width: 200px;
  border: solid 2px white;
  flex-wrap: wrap;
  background-color: black;
}

.x {
  background-color: gray;
}
